<!doctype html>
<html ng-app="cbApp">
    <head>
        <title> CB大的CB網 </title>
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/js/ng-table.min.css" rel="stylesheet">
        <link href="static/css/cb.css" rel="stylesheet">

        <script src="static/angular/angular.min.js"></script>
        <script src="static/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="static/js/moment.min.js"></script>
        <script src="static/js/ng-table.min.js"></script>
        <script src="cb.js"></script>
    </head>
    <body>
        <center><h1>CB大的CB網</h1></center>
        <div ng-controller="CBController">
            <script type="text/ng-template" id="CBDetail.html">
                <div class="modal-header">
                    <button class="btn btn-primary" ng-click="close()" style="float: right">X</button>
                    <h3 class="modal-title" align="center">{{ cb.bond_short_name }}({{ cb.cb_no }})</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-header">
                        <thead>
                            <tr>
                                <th>原公司代碼</th>
                                <th>今日成交價</th>
                                <th>今日量</th>
                                <th>轉換價</th>
                                <th>可轉換股數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ cb.company_no }}</td>
                                <td>{{ cb.price }}</td>
                                <td>{{ cb.total_volume }}</td>
                                <td>{{ cb.convert_price }}</td>
                                <td>{{ cb.convert_share }}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>經銷商</th>
                                <th>信託公司</th>
                                <th>發行日</th>
                                <th>結束日</th>
                                <th>發行量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ cb.sell_broker }}</td>
                                <td>{{ cb.trustee }}</td>
                                <td>{{ cb.publish_date }}</td>
                                <td>{{ cb.expire_date }}</td>
                                <td>{{ cb.publish_qty }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </script>

            <button ng-click="refreshCB()" class="btn btn-default">更新</button>
            <button ng-click="resetSortFilter()" class="btn btn-default">重來</button>
            <input type="text" class="ng-valid-date" 
                    datepicker-popup="{{format}}" 
                    ng-model="dt" is-open="DPOpened" min-date="2014-01-01" max-date="'2015-06-22'"
                    datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                    ng-required="true"
                    close-text="X" current-text="今天" clear-text="清除"
                    readonly="readonly"/>
            <span>
                <button type="button" class="btn btn-default" ng-click="openDP($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>

            <br/><br/>
            <table ng-table="tableParams" show-filter="true" class="table table-hover table-header">
                <tr ng-repeat="cb in $data" ng-click="open(cb)">
                        <td data-title="'CB代碼'" filter="{ 'cb_no': 'text' }">{{ cb.cb_no }}</td>
                        <td data-title="'原公司代碼'" filter="{ 'company_no': 'text' }">{{ cb.company_no }}</td>
                        <td data-title="'名稱'" filter="{ 'bond_short_name': 'text' }">{{ cb.bond_short_name }}</td>
                        <td data-title="'今日成交價'" sortable="'price'" filter="{ 'price': 'text' }">{{ cb.price }}</td>
                        <td data-title="'今日量'" sortable="'total_volume'" filter="{ 'total_volume': 'text' }">{{ cb.total_volume }}</td>
                        <td data-title="'轉換價'" sortable="'convert_price'" filter="{ 'convert_price': 'text' }">{{ cb.convert_price }}</td>
                        <td data-title="'可轉換股數'" sortable="'convert_share'" filter="{ 'convert_share': 'text' }">{{ cb.convert_share }}</td>
                </tr>
            </table>
            <form ng-submit="addCB()">
                <input type="text" ng-model="CBNo"    size="30"
                             placeholder="">
                <input class="btn-primary" type="submit" value="增加CB代碼">
            </form>
        </div>
        <div class="container-fluid">
            <p class="bg-default">CB範例: 13371(F-再生), 28851(元大金), 28883(新光金)</p>
        </div>
    </body>
</html>