<!doctype html>
<html ng-app="cbApp">
    <head>
        <title> CB大的CB網 </title>
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/ng-table.min.css" rel="stylesheet">
        <link href="static/cb.css" rel="stylesheet">

        <script src="static/angular/angular.min.js"></script>
        <script src="static/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="static/ng-table.min.js"></script>
        <script src="cb.js"></script>
    </head>
    <body>
        <center><h1>CB大的CB網</h1></center>
        <div ng-controller="CBController" data-ng-init="refreshCB()">
            <script type="text/ng-template" id="CBDetail.html">
                <div class="modal-header">
                    <button class="btn btn-primary" ng-click="close()" style="float: right">X</button>
                    <h3 class="modal-title" align="center">{{ cb.bond_short_name }}({{ cb.cb_no }})</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-header">
                        <thead>
                            <tr>
                                <th>原公司代碼</th>
                                <th>今日成交價</th>
                                <th>今日量</th>
                                <th>轉換價</th>
                                <th>可轉換股數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ cb.company_no }}</td>
                                <td>{{ cb.price }}</td>
                                <td>{{ cb.total_volume }}</td>
                                <td>{{ cb.convert_price }}</td>
                                <td>{{ cb.convert_share }}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>經銷商</th>
                                <th>信託公司</th>
                                <th>發行日</th>
                                <th>結束日</th>
                                <th>發行量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ cb.sell_broker }}</td>
                                <td>{{ cb.trustee }}</td>
                                <td>{{ cb.publish_date }}</td>
                                <td>{{ cb.expire_date }}</td>
                                <td>{{ cb.publish_qty }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </script>

            <form ng-submit="refreshCB()">
                <input class="btn-primary" type="submit" value="更新">
            </form>
            <table class="table table-hover table-header">
                <thead>
                    <tr>
                        <th>CB代碼</th>
                        <th>原公司代碼</th>
                        <th>名稱</th>
                        <th>今日成交價</th>
                        <th>今日量</th>
                        <th>轉換價</th>
                        <th>可轉換股數</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(cb_no, cb) in cbs" ng-click="open(cb)">
                            <td>{{ cb.cb_no }}</td>
                            <td>{{ cb.company_no }}</td>
                            <td>{{ cb.bond_short_name }}</td>
                            <td>{{ cb.price }}</td>
                            <td>{{ cb.total_volume }}</td>
                            <td>{{ cb.convert_price }}</td>
                            <td>{{ cb.convert_share }}</td>
                    </tr>
                </tbody>
            </table>
            <form ng-submit="addCB()">
                <input type="text" ng-model="CBNo"    size="30"
                             placeholder="">
                <input class="btn-primary" type="submit" value="增加CB代碼">
            </form>
        </div>
        <div class="container-fluid">
            <p class="bg-primary">CB範例: 13371(F-再生), 28851(元大金), 28883(新光金)</p>
        </div>
    </body>
</html>